<div class="form-horizontal">
  <div class="form-group">
    <label class="col-lg-6">Parent Column Name</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="options.parentColumn" class="form-control"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Child Column Name</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="options.childColumn" class="form-control"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Size Column Name</label>
    <div class="col-lg-6">
      <select ng-options="name for name in queryResult.getColumnNames()" ng-model="options.sizeColumn" class="form-control"></select>
    </div>
  </div>
  <div class="form-group">
    <label class="col-lg-6">Cell Padding</label>
    <div class="col-lg-6">
      <input ng-model="options.cellPadding" type="number" step="any" class="form-control">
    </div>
  </div>
    <label><input type="checkbox" ng-model="options.tooltip.enabled"> Show tooltip</label>
    <div>
      <label for="tooltip-template">Tooltip template</label>
      <input class="form-control" id="tooltip-template"
        ng-model="options.tooltip.template" ng-model-options="{ allowInvalid: true, debounce: 200 }"
        ng-disabled="!options.tooltip.enabled">
    </div>
    <label><input type="checkbox" ng-model="options.datalabel.enabled"> Show data label</label>
    <div>
      <label for="datalabel-template">Datalabel template</label>
      <textarea class="form-control" id="datalabel-template" rows="3"
        ng-model="options.datalabel.template" ng-model-options="{ allowInvalid: true, debounce: 200 }"
        ng-disabled="!options.datalabel.enabled">
    </div>
</div>
